.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %button.btn.btn-navbar{"ng-click" => "isCollapsed = !isCollapsed", "ng-init" => "isCollapsed = true"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => ""}
        Mindless

      .nav-collapse.collapse{:collapse => "isCollapsed"}
        %ul.nav.pull-right
          %li
            %form.navbar-search
              %input.search-query{:type => "text", :placeholder => "Search"}
    
.card{:style => "margin-top: 60px"}
  %h3.card-heading.simple
    %input.span7{:type => "text", :placeholder => "Title", "ng-model" => "title", :style => "padding: 10px; font-size: 20px; font-weight: 300; color: #777;"}
  .card-body
    %textarea.span7.msd-elastic{:rows => "3", :placeholder => "Content", "ng-model" => "content", :required => true, :style => "padding: 10px; resize: vertical;"}
  .card-actions
    %a.btn.btn-primary{"ng-click" => "create()", :href => ""}
      Save
-# .card
-#   .card-body
-#     %p
-#       hello {{mouseOn}}
.card.animate-repeat{"ng-repeat" => "note in notes", "ng-mouseenter" => "mouseEnterNote($index)", "ng-mouseleave" => "mouseLeaveNote()"}
  %a.no-decoration.pull-right{"ng-click" => "delete($index)", :href => "", :style => "margin-right: 10px; margin-top: -10px; font-size: 1.5em"}
    &times;
  %div{"ng-switch" => "editing == $index"}
    %div{"ng-switch-when" => "false"}
      %h3.card-heading.simple{"ng-if" => "note.title"}
        {{note.title}}
      .card-body{"btf-markdown" => "note.content"}
      .card-actions
        %a.no-decoration.ng-hide{:href => "", "ng-show" => "mouseIsOnNote($index)", "ng-click" => "editNote($index)"}
          %i.icon-edit.icon-large{:title => "Edit"}
        %span.muted.pull-right{"am-time-ago" => "note.updated_at"}

    %div{"ng-switch-when" => "true"}
      %h3.card-heading.simple
        %input.span7{:type => "text", :placeholder => "Title", "ng-model" => "note.title", :style => "padding: 10px; font-size: 20px; font-weight: 300; color: #777;"}
      .card-body
        %textarea.span7.msd-elastic{:rows => "3", :placeholder => "Content", "ng-model" => "note.content", :required => true, :style => "resize: vertical;"}
      .card-actions
        %a.no-decoration{:href => "", "ng-click" => "update($index)"}
          %i.icon-ok-circle.icon-large{:title => "Done"}



